<!DOCTYPE html>
<html ng-app="KineticGraphs">
<head lang="en">
    <meta charset="UTF-8">
    <title>CAPM Visualization</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bower_components/katex/build/katex.min.css">
    <!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js"></script>-->
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/jquery-color/jquery.color.js"></script>
    <script type="text/javascript" src="lib/color_mixer.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="bower_components/numericjs/src/numeric.js"></script>
    <script type="text/javascript" src="bower_components/katex/build/katex/katex.min.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
</head>
<body>
<div ng-controller="KineticGraphCtrl">
    <div id="graph" style="position:absolute; left:400px; top:0px; width: 100%"></div>
    <div style="width:400px;background-color:lightblue">
        <table>
            <tr>
                <td>r12:</td><td id="slider12" style="width:200px"></td>
            </tr>
            <tr>
                <td>r23:</td><td id="slider23" style="width:200px"></td>
            </tr>
            <tr>
                <td>r13:</td><td id="slider13" style="width:200px"></td>
            </tr>
            <tr>
                <td>max leverage (%):</td><td id="leverageSlider" style="width:200px"></td>
            </tr>
        </table>
        <hr/>
        <p>Correlation Matrix</p>
        <table>
            <tr ng-repeat="row in model.correlationMatrix">
                <td ng-repeat="c in row track by $index" style="width:50px;text-align:center">{{c | number:1}}</td>
            </tr>
        </table>
        <hr/>
        <p>Covariance Matrix</p>
        <table>
            <tr ng-repeat="row in model.covarianceMatrix">
                <td ng-repeat="c in row track by $index" style="width:50px;text-align:center">{{c | number:3}}</td>
            </tr>
        </table>
        <hr/>
    </div>

<script src="dist/kinetic-graphs.js"></script>
    </div>
</body>
</html>