@import 'kinetic-graphs.less';


@demand: @blue-dark;
@demand-old: @blue-medium;
@demand-fill: @blue-faint;

@growth: @green-dark;
@growth-old: @green-medium;
@growth-fill: @green-faint;

@capital: @orange-dark;
@capital-old: @orange-medium;

@totalCost: @purple-dark;
@totalCost-old: @purple-medium;

@marginalCost: @orange-dark;
@marginalCost-old: @orange-medium;

@variableCost: @green-dark;
@variableCost-old: @green-medium;

@consumption: @blue-dark;
@consumption-old: @blue-medium;

.demand {
  color: @demand;
  stroke: @demand;
}

.growth {
  color: @growth;
  stroke: @growth;
}

.balancedGrowth {
  color: @growth;
  stroke: @growth;
  stroke-dasharray: 10,10;
}

.capital {
  color: @capital;
  stroke: @capital;
}

.consumption {
  color: @consumption;
  stroke: @consumption;
}

