<!DOCTYPE html>
<html ng-app="KineticGraphs">
<head lang="en">
    <meta charset="UTF-8">
    <title>Utility Maximization</title>
    <link rel="stylesheet" href="../bower_components/bootswatch-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../dist/econ-graphs.css">
    <link rel="stylesheet" href="../bower_components/katex/dist/katex.min.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="../bower_components/numericjs/src/numeric.js"></script>
    <script type="text/javascript" src="../bower_components/katex/dist/katex.min.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore-min.js"></script>
</head>
<body ng-cloak>
<div ng-controller="KineticGraphCtrl">
    <div class="row">
        <div class="col-md-8">
            <h1>Utility Maximization: {{ model.utility.title }}</h1>
            <hr/>
            <div id="utility"></div>
        </div>
        <div class="col-md-4">
            <div class="well">
                <div class="subtitle">utility parameters</div>
                <hr/>
                <label><input type="radio" ng-model="params.selectedUtility" value="CobbDouglas"> Cobb-Douglas</label><br/>
                <label><input type="radio" ng-model="params.selectedUtility" value="Complements"> Perfect Complements</label><br/>
                <hr/>
                <div class="math displayMath">u(x,y) = {{ model.utility.formula(false) }} = {{ model.utility.formula(true)}}</div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">\alpha = {{params.alpha | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="alphaSlider"></div>
                </div>
                <hr/>
                <toggle param="showMap" class="utility"><span ng-if="params.showMap">Hide</span><span ng-if="!params.showMap">Show</span> indifference curve map</toggle>

            </div>
            <div class="well">
                <div class="subtitle">budget parameters</div>
                <hr/>
                <label><input type="radio" ng-model="params.selectedBudget" value="simple"> Simple budget constraint</label><br/>
                <label><input type="radio" ng-model="params.selectedBudget" value="endowment"> Endowment budget constraint</label><br/>

                <div class="row" ng-show="(params.selectedBudget == 'simple')">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">I = {{params.income | number: 0}}:
                    </div>
                    <div class="col-xs-9" id="incomeSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_x = {{params.px | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pxSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_y = {{params.py | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pySlider"></div>
                </div>
            </div>

            <hr/>

        </div>
    </div>
</div>
<script>
    var scopeDefinition = {
        params: {
            alpha: 0.5,
            income: 120,
            xE: 20,
            yE: 20,
            px: 4,
            py: 3,
            pxSell: 2,
            pySell: 1,
            showMap: false,
            selectedUtility: 'CobbDouglas',
            selectedBudget: 'simple'
        },
        graphParams: ['selectedBudget'],
        restrictions: [],
        model: {
            type: 'EconGraphs.MarshallianDemand',
            definition: {
                budget:{
                    type: 'KG.Selector',
                    definition: {
                        selected: 'params.selectedBudget',
                        options: [
                            {
                                name: 'simple',
                                label: 'Simple budget constraint',
                                selection: {
                                    type: 'EconGraphs.SimpleBudgetConstraint',
                                    definition: {
                                        income: 'params.income',
                                        px: 'params.px',
                                        py: 'params.py'
                                    }
                                }
                            },
                            {
                                name: 'endowment',
                                label: 'Endowment budget constraint',
                                selection: {
                                    type: 'EconGraphs.EndowmentBudgetConstraint',
                                    definition: {
                                        endowment: {
                                            x: 'params.xE',
                                            y: 'params.yE'
                                        },
                                        px: 'params.px',
                                        py: 'params.py',
                                        xLabel: 'x_E',
                                        yLabel: 'y_E'
                                    }
                                }
                            },
                            {
                                name: 'endowmentKinked',
                                label: 'Endowment with different buy/sell prices',
                                selection: {
                                    type: 'EconGraphs.EndowmentBudgetConstraint',
                                    definition: {
                                        endowment: {
                                            x: 'params.xE',
                                            y: 'params.yE'
                                        },
                                        pxBuy: 'params.px',
                                        pyBuy: 'params.py',
                                        pxSell: 'params.pxSell',
                                        pySell: 'params.pySell'
                                    }
                                }
                            }
                        ]
                    }
                },
                utility: {
                    type: 'KG.Selector',
                    definition: {
                        selected: 'params.selectedUtility',
                        options: [
                            {
                                name: 'CobbDouglas',
                                label: 'Cobb-Douglas',
                                selection: {
                                    type: 'EconGraphs.CobbDouglasUtility',
                                    definition: {
                                        xPower: 'params.alpha'
                                    }
                                }
                            },
                            {
                                name: 'Complements',
                                label: 'Perfect Complements',
                                selection: {
                                    type: 'EconGraphs.ComplementsUtility',
                                    definition: {
                                        bundle: {x: 'params.alpha', y: '1-params.alpha'}
                                    }
                                }
                            }
                        ]
                    }
                }
            }
        },
        views: [
            {
                type: 'KG.Graph',
                definition: {
                    element_id: 'utility',
                    xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                    yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                    objects: [
                        "model.utility.indifferenceCurveFamily([5,10,15,20,25,30,35,40,45],{show: params.showMap})",
                        "model.budget.budgetLine",
                        'model.utility.optimalBundlePoint(model.budget,{xAxisLabel:"x^*", yAxisLabel: "y^*"})',
                        'model.utility.optimalIndifferenceCurve(model.budget,{label: "u(x,y) = u(x^*,y^*)"})',
                        'model.budget.endowmentPoint'

                    ]
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'alphaSlider',
                    param: 'alpha',
                    precision: '0.01',
                    axisDef: {min: 0, max: 1, tickValues: [0,0.5,1]}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'incomeSlider',
                    param: 'income',
                    precision: '1',
                    axisDef: {min: 0, max: 200}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pxSlider',
                    param: 'px',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pySlider',
                    param: 'py',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            }

        ]
    }
</script>
<script src="../dist/kinetic-graphs.js"></script>
</body>
</html>