<!DOCTYPE html>
<html ng-app="KineticGraphs">
<head lang="en">
    <meta charset="UTF-8">
    <title>Utility and Demand</title>
    <link rel="stylesheet" href="../bower_components/bootswatch-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../dist/econ-graphs.css">
    <link rel="stylesheet" href="../bower_components/katex/dist/katex.min.css">
    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/d3/d3.min.js"></script>
    <script type="text/javascript" src="../bower_components/numericjs/src/numeric.js"></script>
    <script type="text/javascript" src="../bower_components/katex/dist/katex.min.js"></script>
    <script type="text/javascript" src="../bower_components/underscore/underscore-min.js"></script>
</head>
<body>
<div ng-controller="KineticGraphCtrl">
    <div class="row">
        <div class="col-md-8">
            <h1>Demand and Engel Curves: {{ model.utility.title }}</h1>
            <hr/>
            <div class="row">
                <div class="col-xs-6">
                    <div id="utilityAndX"></div>
                </div>
                <div class="col-xs-6">
                    <div id="incomeAndY"></div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="well">
                <div class="row">
                    <div class="subtitle col-xs-6">utility parameters</div>
                    <div class="col-xs-6">
                        <label><input type="radio" ng-model="params.selectedUtility" value="CobbDouglas"> Cobb-Douglas</label><br/>
                        <label><input type="radio" ng-model="params.selectedUtility" value="Complements"> Perfect Complements</label><br/>
                    </div>
                </div>
                <hr/>
                <div class="math displayMath">u(x,y) = {{ model.utility.formula(false) }} = {{ model.utility.formula(true)}}</div>
                <hr/>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">\alpha = {{params.alpha | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="alphaSlider"></div>
                </div>
            </div>
            <div class="well">
                <div class="subtitle">budget parameters</div>
                <hr/>
                <div class="math displayMath">{{ model.budget.formula(false) }} \Rightarrow {{ model.budget.formula(true)}}</div>
                <hr/>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">I = {{params.income | number: 0}}:
                    </div>
                    <div class="col-xs-9" id="incomeSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_x = {{params.px | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pxSlider"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 math" style="text-align:right;font-size:12pt;padding-top:10px">P_y = {{params.py | number: 2}}:
                    </div>
                    <div class="col-xs-9" id="pySlider"></div>
                </div>
            </div>
            </div>
    </div>
</div>
<script>
    var scopeDefinition = {
        params: {
            alpha: 0.5,
            income: 120,
            px: 4,
            py: 3,
            selectedUtility: 'CobbDouglas'
        },
        graphParams: [],
        restrictions: [
            {
                expression: 'model.utility.optimalBundle(model.budget).y',
                restrictionType: 'range',
                min: 0,
                max: 50
            },
            {
                expression: 'model.utility.optimalBundle(model.budget).x',
                restrictionType: 'range',
                min: 0,
                max: 50
            }],
        model: {
            type: 'EconGraphs.MarshallianDemand',
            definition: {
                budget: {
                    type: 'EconGraphs.SimpleBudgetConstraint',
                    definition: {
                        income: 'params.income',
                        px: 'params.px',
                        py: 'params.py',
                        budgetConstraintLabel: 'BL'
                    }
                },
                utility: {
                    type: 'KG.Selector',
                    definition: {
                        selected: 'params.selectedUtility',
                        options: [
                            {
                                name: 'CobbDouglas',
                                label: 'Cobb-Douglas',
                                selection: {
                                    type: 'EconGraphs.CobbDouglasUtility',
                                    definition: {
                                        xPower: 'params.alpha'
                                    }
                                }
                            },
                            {
                                name: 'Complements',
                                label: 'Perfect Complements',
                                selection: {
                                    type: 'EconGraphs.ComplementsUtility',
                                    definition: {
                                        bundle: {x: 'params.alpha', y: '1-params.alpha'}
                                    }
                                }
                            }
                        ]
                    }
                }
            }
        },
        views: [
            {
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'utilityAndX',

                    topGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Units of Good X}'},
                        yAxisDef: {min: 0, max: 50, title: '\\text{Units of Good Y}'},
                        objects: [
                            "model.budget.budgetLine",
                            'model.utility.optimalBundlePoint(model.budget,{xAxisLabel:"x^*", yAxisLabel: "y^*"})',
                            'model.utility.optimalIndifferenceCurve(model.budget,{label: "U^*"})'

                        ]
                    },
                    bottomGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X at }P_x'},
                        yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good X}'},
                        objects: [
                            'model.demandCurve({min: 0.01, max: 10, good: "x"},{label:"D_x"})',
                            'model.quantityAtPricePoint(params.px, {good: "x"},{yDrag: "params.px", xAxisLabel:"x^*", yAxisLabel: "P_x"})'
                        ]
                    },
                    objects: []
                }
            },
            {
                type: 'KG.TwoVerticalGraphs',
                definition: {
                    element_id: 'incomeAndY',
                    topGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of X and Y at }I'},
                        yAxisDef: {min: 1, max: 200, title: '\\text{Income}'},
                        objects: [
                            'model.engelCurve({min:1, max: 200, good:"x"},{label: "E_x"})',
                            'model.engelCurve({min:1, max: 200, good:"y"},{label: "E_y"})',
                            'model.quantityAtIncomePoint(params.income, {good: "x"},{yDrag: "params.income", yAxisLabel: "I", xAxisLabel: "x^*"})',
                            'model.quantityAtIncomePoint(params.income, {good: "y"},{yDrag: "params.income", yAxisLabel: "I", xAxisLabel: "y^*"})'
                        ]
                    },
                    bottomGraph: {
                        xAxisDef: {min: 0, max: 50, title: '\\text{Quantity Demanded of Y at }P_y'},
                        yAxisDef: {min: 0, max: 10, title: '\\text{Price of Good Y}'},
                        objects: [
                            'model.demandCurve({min: 0.01, max: 10, good: "y"},{label:"D_y"})',
                            'model.quantityAtPricePoint(params.py, {good: "y"},{yDrag: "params.py", xAxisLabel: "y^*", yAxisLabel: "P_y"})'
                        ]
                    },
                    objects: []
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'alphaSlider',
                    param: 'alpha',
                    precision: '0.01',
                    axisDef: {min: 0, max: 1, tickValues: [0,0.5,1]}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'incomeSlider',
                    param: 'income',
                    precision: '1',
                    axisDef: {min: 0, max: 200}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pxSlider',
                    param: 'px',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            },
            {
                type: 'KG.Slider',
                definition: {
                    element_id: 'pySlider',
                    param: 'py',
                    precision: '0.25',
                    axisDef: {min: 0, max: 10}
                }
            }

        ]
    }
</script>
<script src="../dist/kinetic-graphs.js"></script>
</body>
</html>